.btn {
  padding: 2px 12px;
  border: 0 !important;
  background-image: none !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #002F87 !important;
}

.btn-primary:hover:active {
  background-color: #032a73 !important;
}

.SingleContentConfigFormBody__addButtons {
  text-align: right;
}

.ContentsFilter {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  border: #EDEDED 1px solid;
  overflow: auto;
}

.ContentsFilterModal.modal-dialog {
  width: 80% !important;
}

/* .modal-dialog {
  min-width: 75vw;
} */

/* .modal-dialog{
  width: 80% !important;
} */

.SingleContentConfigForm {
  background-color: white !important;
}

.SingleContentConfigFormBody__widgetTitle {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
}

.SingleContentConfigFormBody__widgetTitle {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
}

.SingleContentConfigFormBody__addButtons {
  text-align: right;
}

.SingleContentConfigFormBody__contentTitle {
  margin: 0;
}

.AddContentTypeFormBody__save--btn {
  margin-left: 5px;
}

/* Single Page Custome Classes */
.mt-2 {
  margin-top: 2rem;
}

.rowCursorPointer {
  cursor: pointer;
}

/* Show-Detail-Attribute-Modal CSS START */
.modal-dialog{width:80%;}
/* Show-Detail-Attribute-Modal CSS END */